@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body{
    font-family: 'PT Sans', sans-serif;
    color:#666;
}
p{font-size:13px;}
.category-list-card{
   background-color: #fff;
    border-radius: 3px;
    border: 1px solid #eee;
    cursor: pointer;
    display: block;
    margin: 5px 15px;
    padding: 8px 0;
    height: 300px
}
.category-image{
    display: inline-block;
    text-align: center;
    height: 160px;
    vertical-align: top;
    width: 208px;
    margin-right:15px;
}
.category-name{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 12px;
    width: 49%;
}
.right-arrow-div{
    float:right;
    margin-right:10px;
    margin-top:70px;
    font-size:20px;
}
.categor-name h3{
    color: #333;
    margin-bottom: 10px;
}

.sweet-loading{
    position: absolute;
    top:50%;
    z-index: 999;
    left: 48%
}